<!DOCTYPE html>
<html>

<head>
    <title>Chat App</title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.min.css">

</head>

<body>
    <div class="chat">
        <div id="sidebar" class="chat__sidebar">

        </div>
        <div class="chat__main">
            <div id="chat-div" class="chat__messages"></div>
            <div class="compose">
                <form id="chat-form">
                    <input placeholder="Type message" type="text" id="chat-input" name="chatinput" required
                        autocomplete="off">
                    <button id="send-message-btn">Enter</button>

                </form>
                <button id="send-geoloc-btn" type="button">Send Location</button>
            </div>

        </div>
    </div>


    <script id="message-template" type="text/html">
        <p>
            <span class="message__name">{{username}}</span>
            <span class="message__meta">{{createdAt}}</span>
        </p>
        <div class="message">
            <p>{{message}}</p>
        </div>
    </script>

    <script id="loc-message-template" type="text/html">
        <p>
            <span class="message__name">{{username}}</span>
            <span class="message__meta">{{createdAt}}</span>
        </p>
        <div class="message">
            <p><a href={{locUrl}} target="_blank">My Current Location</a></p>
        </div>

    </script>

    <script id="sidebar-template" type="text/html">
        <p>
            <h2 class="room-title">{{room}}</h2>
            <h3 class="list-title">Users</h3>
            <ul class="users">
                {{#users}}
                    <li>{{username}}</li>
                {{/users}}
            </ul>
            
        </p>

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
</body>


</html>